ion-toolbar {
    --background : rgb(10, 10, 10);
    
}
ion-content {
    --background : rgb(70, 7, 153);
} 
ion-card-title{
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    
}
ion-label {
    font-family: 'Times New Roman', Times, serif;
    
}
ion-button {
    --background : rgb(70, 7, 153);
}
ion-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}